.control-sys{
  background:linear-gradient(rgba(192,192,192,0.7),rgba(255,255,255,0.8));
      width: 22%;
      text-align: center;
      font-weight: bold;
      border-radius: 20px;
      box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
      margin-top: 50px;
      margin-bottom: 50px;
      margin-left: 20px;

      
    }
.line1,.line2{
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding-bottom:  20px;
}

  .title-sys{
    text-align: center;
    margin-top: -20px;
    background-color:black;
    color:whitesmoke;
    font-weight: 200%;
    border-radius: 5px;
  }
/* -------Button------- */
  Button.btn-sys-auto,Button.btn-sys-reset,Button.btn-sys-man,Button.btn-sys-start,Button.btn-sys-stop {
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-weight:bold;
    border-radius: 20px;
}
Button.btn-sys-auto:hover,Button.btn-sys-reset:hover,Button.btn-sys-man:hover,Button.btn-sys-start:hover{
  background-color: #05c46b
}

Button.btn-sys-auto:active,Button.btn-sys-reset:active,Button.btn-sys-man:active,Button.btn-sys-start:active {
  background-color: #cecece;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
Button.btn-sys-stop:hover {background-color:#c23616}

Button.btn-sys-stop:active {
  background-color: #cecece;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
